.texto {
  color: purple;
  font-size: 1em;
}

.caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #ccc;
}

.caixa a {
  text-decoration: none;
  color: orangered;
}

.caixa a:hover {
  font-size: 32px;
  color: yellow;
}